{% extends "network/layout.html" %}

{% block body %}
    <h1 class="heading">All Posts of followed Users</h1>

    {% for post in postsOfPage %}
        <div class="Postcard">
            <h6 id="user"><a href="{% url 'profile' user_id=post.user.id %}">@{{post.user}}</a></h6>
            <h5 id="content">{{post.content}}</h5>
            <p id="date"><small>{{post.date}}</small></p>
            {% if user.is_authenticated %}
                {% if post.likes > 0 %}
                    {% for count in countLikes %}
                        {% if post.id == count.post_id %}
                            {% if post.id in myLikes%}
                                <i class="bi bi-heart-fill liked" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline liked" id="count-{{post.id}}">{{ count.count }}</p>
                            {% else %}
                                <i class="bi bi-heart liked" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline like" id="count-{{post.id}}">{{ count.count }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <i class="bi bi-heart like" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline like" id="count-{{post.id}}">0</p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

    <div class="pagniator">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if not postsOfPage.has_previous %}
                    <li class="page-item inactive">
                        <a class="page-link disabled" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if postsOfPage.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{postsOfPage.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if postsOfPage.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{postsOfPage.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if not postsOfPage.has_next %}
                    <li class="page-item inactive">
                        <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}