{% extends "network/layout.html" %}

{% block body %}

    <h1 class="heading">All Posts</h1>

    {% if user.is_authenticated %}
        <div class="Postcard">
            <h3 class="createPost-heading">New Post</h3>
            <form action="{% url 'newPost' %}" method="POST">
                {% csrf_token %}
                <textarea class="createPost-content" name="content" placeholder="Add your content here!"></textarea>
                <br/><button class="button createPost-btn" type="submit">Post</button>
            </form>
        </div>
    {% endif %}

    
    {% for post in postsOfPage %}
        <div class="Postcard">
            <h6 id="user"><a href="{% url 'profile' user_id=post.user.id %}">@{{post.user}}</a></h6>
            <h5 id="tag-{{ post.id }}"><input type="text" class="readonly" id="content-{{ post.id }}" value="{{post.content}}" readonly onkeyup="return edit('{{post.id}}')"></h5>
            <p id="date"><small>{{post.date}}</small></p>
            {% if user.is_authenticated %}
                {% if user == post.user %}
                    <div id="edit-save-{{ post.id }}"><button class="button edit-btn" type="button"  onclick="makeEdit('{{post.id}}')">Edit</button></div>
                    {% if post.likes > 0 %}
                        {% for count in countLikes %}
                            {% if post.id == count.post_id %}
                                <i class="bi bi-heart liked" onclick="notAllowed()"></i><p class="inline like">{{count.count}}</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <i class="bi bi-heart like" onclick="notAllowed()"></i><p class="inline like">0</p>
                    {% endif %}
                {% else %}
                    {% if post.likes > 0 %}
                        {% for count in countLikes %}
                            {% if post.id == count.post_id %}
                                {% if post.id in myLikes%}
                                    <i class="bi bi-heart-fill liked" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline liked" id="count-{{post.id}}">{{ count.count }}</p>
                                {% else %}
                                    <i class="bi bi-heart liked" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline like" id="count-{{post.id}}">{{ count.count }}</p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <i class="bi bi-heart like" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline like" id="count-{{post.id}}">0</p>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if post.likes > 0 %}
                    {% for count in countLikes %}
                        {% if post.id == count.post_id %}
                            <i class="bi bi-heart like" onclick="notAutheticated()"></i><p class="inline like">{{ count.count }}</p>  
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <i class="bi bi-heart like" onclick="notAutheticated()"></i><p class="inline like">0</p>
                {% endif %}
            {% endif %} 
        </div>
    {% endfor %}

    <div class="pagniator">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if not postsOfPage.has_previous %}
                    <li class="page-item inactive">
                        <a class="page-link disabled" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if postsOfPage.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{postsOfPage.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if postsOfPage.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{postsOfPage.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if not postsOfPage.has_next %}
                    <li class="page-item inactive">
                        <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}