{% extends "network/layout.html" %}

{% block body %}
    <div class="heading grid-container">
        <h1 class="username">{{username}}</h1>
        <h6 class="follower">Follower: {{ follower.count }}</h6>
        <h6 class="following">Following: {{ following.count }}</h6>
        {% if user.is_authenticated %}
            {% if user != profile %}
                {% if isFollowing %}
                    <div class="un-follow-btn">
                        <form action="{% url 'unfollow' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="unfollow" value="{{ profile }}"/>
                            <button type="submit" class="button unfollow-btn">unfollow</button>
                        </form>
                    </div>
                {% else %}
                    <div class="un-follow-btn">
                        <form action="{% url 'follow' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="follow" value="{{ profile }}"/>
                            <button type="submit" class="button follow-btn">follow</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    {% for post in postsOfPage %}
        <div class="Postcard">
            <h6 id="user"><a href="{% url 'profile' user_id=post.user.id %}">@{{post.user}}</a></h6>
            <h5 id="content-{{ post.id }}">{{post.content}}</h5>
            <p id="date"><small>{{post.date}}</small></p>
            {% if user.is_authenticated %}
                {% if user == post.user %}
                    <button class="button edit-btn" type="button" data-toggle="modal" data-target="#modal-edit-{{ post.id }}">Edit</button>
                    <div class="modal fade" id="modal-edit-{{ post.id }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal-edit-{{ post.id }}">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Edit Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            <textarea id="textarea-{{ post.id }}" name="content">{{ post.content }}</textarea>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="editHandler('{{post.id}}')">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% if post.likes > 0 %}
                        {% for count in countLikes %}
                            {% if post.id == count.post_id %}
                                <i class="bi bi-heart liked" onclick="alert('You cannot like your own post!')"></i><p class="inline like">{{count.count}}</p>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <i class="bi bi-heart like" onclick="alert('You cannot like your own post!')"></i><p class="inline like">0</p>
                    {% endif %}
                {% else %}
                    {% if post.likes > 0 %}
                        {% for count in countLikes %}
                            {% if post.id == count.post_id %}
                                {% if post.id in myLikes%}
                                    <i class="bi bi-heart-fill liked" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline liked" id="count-{{post.id}}">{{ count.count }}</p>
                                {% else %}
                                    <i class="bi bi-heart liked" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline like" id="count-{{post.id}}">{{count.count}}</p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <i class="bi bi-heart like" id="like-{{ post.id }}" onclick="likeHandler('{{ post.id }}', '{{ myLikes }}')"></i><p class="inline like" id="count-{{post.id}}">0</p>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if post.likes > 0 %}
                    {% for count in countLikes %}
                        {% if post.id == count.post_id %}
                            <i class="bi bi-heart like" onclick="notAutheticated()"></i><p class="inline like">{{ count.count }}</p>  
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <i class="bi bi-heart like" onclick="notAutheticated()"></i><p class="inline like">0</p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}

    <div class="pagniator">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if not postsOfPage.has_previous %}
                    <li class="page-item inactive">
                        <a class="page-link disabled" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if postsOfPage.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{postsOfPage.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if postsOfPage.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{postsOfPage.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if not postsOfPage.has_next %}
                    <li class="page-item inactive">
                        <a class="page-link disabled" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}